/*
   style.css
   بعض التضبيطات لتنسيق البرنامج
   
   youtube-dl-ui
   
   Created by Ali Mohammed Al-brrak on 2013-06-13.
   Copyright 2013 Ali Mohammed Al-brrak. All rights reserved.
*/

html {
	height: 100%;
}

body {
	background-color: #F0F0F0;
	padding: 20px 0;
}

.ltr {
	direction: ltr;
}

#parm{
	margin: 0 20px 20px;
	width: calc(100% - 40px);
}

#log {
	margin: 0 20px 20px;
}

#log .bar {
	white-space: nowrap;
}

.work, .work a, .work button {
	cursor: wait;
}


#work{
	margin: 10px;
	display: none;
}