/*
   style.css
   بعض التضبيطات لتنسيق البرنامج
   
   youtube-dl-ui
   
   Created by Ali Mohammed Al-brrak on 2013-06-13.
   Copyright 2013 Ali Mohammed Al-brrak. All rights reserved.
*/

html {
	height: 100%;
}

body {
	background-color: #F0F0F0;
	padding: 20px 0;
}

.rtl {
	direction: rtl;
}

.ltr {
	direction: ltr;
}


#console::-webkit-scrollbar {
	background: #141414;
	width: 4px;
	height: 4px;
}
#console::-webkit-scrollbar-thumb {
	background: #555;
}

#parm{
	margin: 0 20px 20px;
	width: calc(100% - 40px);
}

#log {
	margin: 0 20px 20px;
}

#log .bar {
	white-space: nowrap;
}

.work, .work a, .work button {
	cursor: wait;
}


#console {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 3px 8px;
	color: #F8F8F8;
	background-color: #141414;
	direction: ltr;
	font-weight: bold;
	height: 20px;
	overflow-y: scroll;
	z-index: 100;
	transition: 0.8s height;
}

#console:hover {
	height: 180px;
}



#console p {
	margin: 0;
	display: block;
}

#work{
	margin: 10px;
	display: none;
}

.progress .bar {
	text-shadow: 0 0px 3px #000;
}
